<!DOCTYPE html>
<html>
<head>
	<title>TABI 2018 - Listado </title>
	<!-- Bootstrap CDN -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Optional theme -->

	<link rel="stylesheet" type="text/css" href="/static/frontend/css/index.css">
</head>
<body>
	<nav class="navbar navbar-default">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <span class="navbar-brand" href="#">
	        DSD
	      </span>

	    </div>
      <div class="navbar-right">
      	<form class="navbar-form navbar-left" method="POST" action="/logout/">
      		 {% csrf_token %}
  	  		<button type="submit" class="btn btn-default navbar-btn">Sign Out</button>
      	</form>
      	
      </div>
	  </div>

	</nav>

	<div id="graph-list">

		<div id="graph1" class="row">
			<div class="col-md-4"> </div>
			<div class="form-group col-md-4 centered">
			  <label for="graph1-select">Elecciones Generales - Todas las Facultades</label>
				<select id="graph1-select" class="form-control">
				  <option value="2012">2012</option>
				  <option value="2013">2013</option>
				  <option value="2014">2014</option>
				  <option value="2015">2015</option>
				  <option value="2016">2016</option>
				  <option value="2017">2017</option>
				  <option value="2018">2018</option>
				</select>
			</div>
			<div class="col-md-4"> </div>

			<div class="col-md-12">
				<div id="graph1-chart"> </div>
			</div>
			

		</div>
		<div id="graph2"> </div>
		<div id="graph3"> </div>

	</div>

	<script
	  src="https://code.jquery.com/jquery-3.3.1.min.js"
	  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	  crossorigin="anonymous"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script src="/static/frontend/build/index.js"></script>
</body>
</html>